
<form id="myform" data-lpignore="true">
  <label class="formTitle">Contact Me:</label>
  <label>Email</label>
  <input type="email" name="user_email" id="user_email" required focus="true" autocomplete="off"/>
  <label>Message</label>
  <textarea type="text" name="message" required></textarea>
  <!-- H o n e y p o t -->
  <label class="ohnohoney" for="name"></label>
  <input class="ohnohoney" autocomplete="off" type="text" id="name" name="name" placeholder="Your name here">
  <label class="ohnohoney" for="email"></label>
  <input class="ohnohoney" autocomplete="off" type="email" id="email" name="email" placeholder="Your e-mail here">
  <button>Send</button>
</form>
<div id='contact-footer'>
  <span id='toggleContact'><i class="fa fa-envelope-o" aria-hidden="true"></i> <noscript><a href="/contact.html"></noscript>contact<noscript></a></noscript></span>
</div>

<script type="text/javascript">
  const contactButton = document.querySelector('#toggleContact');
  const contactForm = document.querySelector('#myform');
  contactButton.addEventListener('click', toggleForm);
  function toggleForm() {
    if (contactForm.style.maxHeight !== '516px') {
      contactForm.style.maxHeight = '516px';
    } else {
      contactForm.style.maxHeight = '0';
    } 
  }
</script>
    
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>  
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2.3.2/dist/email.min.js"></script>
<script type="text/javascript">
  (function() {
    emailjs.init("user_9zebsEJVTakFQHE0CDnXT");
  })();
</script>
<script type="text/javascript" src="/assets/js/form.js"> </script>
<script>
  function onSubmit(token) {
    document.getElementById("myform").submit();
  }
</script>
