<nav class="topnav" id="myTopnav">
  <ul id="menuList">
    <a href="/" id="brand">{{ site.title }}</a>
    {% for item in site.menus.navigation %}
    <a href="{{ item.url }}" {% if item.url == '/' %} id="brand"{% endif %}class="{% if page.url == item.url %}current {% endif %}menuItem">{{ item.title }}</a>
    {% endfor %}
    <a href="javascript:void(0);" class="icon" onclick="dropDown()">
      <i class="fa fa-bars"></i>
    </a>
  </ul>
</nav>

<script type="text/javascript" src="/assets/js/nav.js"></script>