<link rel="stylesheet" type="text/css" href="assets/css/green-audio-player.css">
<div class="container">
  {% for post in site.posts %}
    <!-- <div class="grid-container hoverable" id="{{ post.title | slugify }}"> -->
      <!-- <div class="grid-item post-title">{{ post.title }}</div> -->

      {% if post.type == 'audio' %}
      <div class="audioplayer" id="{{ post.mediaFile }}">
        <div class="post-title">
          {{ post.title }}
        </div>
        {% if post.downloadable %}
              <div class="download-link">
                <a href="{{post.mediaFile}}" download><i class="fa fa-download" aria-label="Download"></i></i></a>
              </div>
              {% endif %}
        <div class="player">
          <audio crossorigin>
            <source src="{{post.mediaFile}}" type="audio/mpeg" preload="auto">
          </audio>
        </div>

      </div>
      {% else %}
      <div class="grid-item post-excerpt">{{ post.excerpt | strip_html }}</div>
      <!-- <div class="grid-item post-date">{{ post.date | date_to_string }}</div> -->
      {% endif %}
    <!-- </div> -->
    <div class="section collapsible collapsed" id ="{{ post.title | slugify }}-content">
      {% if post.excerpt contains "://" %}{{ post.content }}{% else %}{{ post.content | remove_first: post.excerpt }}{% endif %}
    </div>
  {% endfor %}
</div>

<script src="assets/js/green-audio-player.js"></script>
<script>
  // audio player stuff
  document.addEventListener('DOMContentLoaded', function() {
    // GreenAudioPlayer.init({
    //   selector: '.player',
    //   stopOthersOnPlay: true
    //   });
    GreenAudioPlayer.init({
      selector: '.player',
        stopOthersOnPlay: true,
        // showDownloadButton: true,
        enableKeystrokes: true
    });

    // GreenAudioPlayer.init({
    //   selector: '.player-with-accessibility',
    //   stopOthersOnPlay: true,
    //   enableKeystrokes: true
    // });
  });

</script>
<script>
  const tracks = document.querySelectorAll('.audioplayer');

  function playButton(track) {
    
    
  }

  tracks.forEach(track => {
    track.sound = new Howl({
      src: [track.id],
      preload: true
    });
    track.playButton = track.querySelector('.play');
    track.playButton.addEventListener('click', () => {
      if(track.sound.playing() || track.playButton.classList == 'pause'){
        console.log('pause');
        track.playButton.classList = "";
        track.playButton.classList = "play";
        track.playButton.innerHTML = '<i class="fa fa-play" aria-label="Play"></i>';
        track.sound.pause();
      } else {
        console.log('play');
        track.playButton.classList = "";
        track.playButton.classList = "pause";
        track.playButton.innerHTML = '<i class="fa fa-pause" aria-label="Pause"></i>';
        track.sound.play();
      }
    });
    // console.log(track.sound)
  });

  // const pButtons = document.querySelectorAll('')
</script>