/* vars */
$font-family-sans-serif:
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$highlight-color: #DEFF00;
$link-color: black;
$text-color: black;
$page-color: white;

/* end vars */


/* begin global stuff */
* {
  font-family:$font-family-sans-serif;
}
body {
  line-height:1.25;
  margin:0px;
  font-size:125%;
  //padding: 1rem;
}

.content ul, p {
  padding-inline-start:0rem;
  // padding-left:1rem;
  // padding-right:1rem;
  margin-right:0;
  margin-left:0;
}

// links
a {
  color: $link-color;
}
a:hover {
  background-color: $highlight-color;
  text-decoration: none;
  color: $link-color
}

.content li {
  list-style-type: none;
  display: block;
  // padding-right:1rem;
  padding:1.25rem;
  // padding-bottom:1.25rem;
  margin-left:auto;
  margin-right:auto;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

.content p {
  margin-top:0rem;
  margin-bottom:0rem;
  padding-top:1.25rem;
  padding-left:1.25rem;
  padding-right:1.25rem;
  // padding-bottom:1.25rem;
}

#myContent {
  // padding-top:1rem;
  display: block;
  // padding-right:1rem;
  // padding:1.25rem;
  padding-top:0;
  margin-left:auto;
  margin-right:auto;
}


.excerpt p {
  display:inline;
  padding:0 1rem 0 1rem;
}

/* end global stuff */

// /* Begin Nav Bar Styling */

.topnav {
  overflow: hidden;
  position:fixed;
  top:0;
  right:0;
  left:0;
  background-color:white;
  margin-left:auto;
  margin-right:auto;
  line-height:1.15;
  z-index:1000;
  border-style:solid;
  border-radius:0;
  border-width:0px 0px 1px 0px;
}

/* navbar links */
.topnav a {
  float: left;
  display: block;
  color: $link-color;
  text-align: left;
  margin-left:1rem;
  text-decoration: none;
  font-size: 3.5rem;
}

.topnav ul {
  padding:0;
  margin:0;
}

#brand {
  background-color:white;
}
#brandMobile {
  display:none;
}

/* Change the color of links on hover */
.topnav a:hover, #brand:hover {
  background-color: $highlight-color;
  color: black;
}

/* Add an active class to highlight the current page */
.current {
  
  background-color: $highlight-color;
}
.topnav a.active {
  background-color: $highlight-color;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
  padding-left:0;
}
/* adjust content height to account for nav */
.content { // default height
  //position: absolute;
  margin-left:auto;
  margin-right:auto;
  // left:8px;
  // top:8px;
  // right:8px;
  margin-top: 4rem;
  padding-bottom:2.5rem;
}
.doubleMenu {
  margin-top: 8rem!important;
}
.tripleMenu {
  margin-top: 12rem!important;
}
.mobileMenu {
  margin-top: 16rem!important;
}
/* end nav styling */

/* begin blog listing style */
.grid-container {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  margin-left:1rem;
  margin-right:1rem;
  padding-top:1rem;
  justify-content: start;
}



// .grid-container:hover {
//   background-color:$page-background;
//   color: $link-color;
// }

.grid-item p {
  padding-top:0;
}

.grid-container .post-date {
  text-align:right;
  grid-column:3;
  grid-row:1;
  
  text-decoration:underline;
}

.hoverable:hover {
  cursor:pointer;
  background-color:$highlight-color;
  color:$link-color;
}

.grid-container .post-excerpt {
  grid-column:2;
  grid-row:1;
  text-decoration:underline;

}

.grid-container .post-title {
  cursor:pointer;
  text-decoration:underline;
  grid-column:1;
  grid-row:1;
}

// .grid-container.post-content {
  
// }

// collapsible content:
.container {
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  height:500px; // sadly, we're required to set at least the container height explicitly
}
.section {
  overflow:hidden;
  transition:flex 0.3s ease-out; // note that we're transitioning flex, not height!
  height:auto;
  flex:1;
}
.section.collapsed {
  flex: 0;
}



/* end blog listing style */

/* info page styling */
// .container.info {
  
// }

.info .right {
  display:inline-block;
  right:0;
  position:fixed;
  margin-left:auto;
  margin-right:auto;
  width:50%
  // text-align:center;
}

.info .left {
  display:inline-block;
  left:0;
  width:50%;
  
}

#contact-footer {
  width:100%;
  background-color:white;
  display:none;
  position:fixed;
  bottom:0;
  text-align:right;
}

/* end info page styling */

/* begin form stuff */
form {
  width:400px;
  margin-left:auto;
  margin-right:auto;
  display:block;
  text-align:left;
  padding-top:1.25rem;
  padding-inline-start:0;
  margin-top:2rem;
}

.content form input, textarea{
  font-size:125%;
}

form input {
  //padding: 1rem;
  border-width:1px 1px 1px 1px;
  border-color:$text-color;
  padding-top:0.5rem;
  padding-bottom:0.5rem;
  // background-color:#101010;
  
  // margin-left:auto;
  // margin-right:auto;
  width: 75%;
  display: block;
}

form label, button{
  margin-top:0.5rem;
  display:block;
}

form button {
  padding-top:0.5rem;
  padding-bottom:0.5rem;
  width: 80px;
  font-size:100%;
  // border-radius: 5px;
  // background-color:#101010;
  border-width:1px;
  border-color:$text-color;
  color:$text-color;

}

form button:hover {
  background-color:$highlight-color;
  cursor:pointer;
}

textarea {
  display:block;
  width: 100%;
  height:275px;
  margin-bottom:2px;
  border-width:1px;
  border-color:$text-color;
  background-color: $page-color;
}

.ohnohoney{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}

#showContact {
  display:none;
}
/* end form stuff */

// /* media gallery stuff */
// .grid-container {
//   display:block;
//   padding-left:1rem;
//   padding-right:1rem;
// }
// .gallery .grid-item{
//   width:33%;
//   // height:auto;
//   display:inline-block;
// }

// // .gallery .images {
// //   display:inline-block;
// // }

img {
  max-width: 100%;
  height: auto;
}

/* end media gallery stuff */