---
layout: default
---
<div class="container info">
  <div class="left">
    {{ content }}
  </div>
  <div class="right">
    {% include contact.html %}
  </div>
</div>


<!-- <script type="text/javascript">
  const contactButton = document.querySelector('#showContact');
  const contactForm = document.querySelector('#myForm');

  function toggleForm() {
    if(contactForm.style.display = 'none'){
      contactForm.style.display = 'block';
    } else {
      contactForm.style.display = 'none';
    }    
  }
  contactButton.addEventListener('click', toggleForm);
  
</script> -->