---
layout: default
---
<h1>{{ page.title }}</h1>
<div class="gallery">
  {% for media_file in page.media_files %}
  {% if media contains ".mp3" %}
  <audio controls>
    <source src="{{ media_file }}" type="audio/mpeg">
  Your browser does not support the audio element.
  </audio>
  {% else if media_file contains ".jpg" or media contains ".jpeg" %}
  contains jpeg
  {% assign crumbs = media_file | split: '/' %}
  {% for crumb in crumbs offset: 1 %}
  crumb {{ crumb }}
    {% if forloop.last %}
      {% assign fileNameParts = crumb | split: '.' %}
      {% assign fileName = fileNameParts[0] %}
      <h1>filename: {{ fileName | replace:'_',' ' | replace:'-',' ' | capitalize }}</h1>
    {% endif %}
  {% endfor %}
  <img src="{{ media_file }}" alt="{{ fileName }}">
  {% endif %}
  {% endfor %}
</div>


{{ content }}
