---
layout: default
---
<h1>{{ page.title }}</h1>
<div class="gallery grid-container">
  {% for media_file in page.media_files %}
  {% if media contains ".mp3" %}
  <audio controls>
    <source src="{{ media_file }}" type="audio/mpeg">
  Your browser does not support the audio element.
  </audio>
  {% else if media_file contains ".jpg" or media contains ".jpeg" %}
  
    {% assign crumbs = media_file | split: '/' %}
    {% for crumb in crumbs offset: 1 %}
      {% if forloop.last %}
        {% assign fileNameParts = crumb | split: '.' %}
        {% assign fileName = fileNameParts[0] %}
      {% endif %}
    {% endfor %}
    <div class="grid-item">
      <img src="{{ media_file }}" alt="{{ fileName | replace:'_',' ' | replace:'-',' ' | capitalize }}">
    </div>
  
  {% endif %}
  {% endfor %}
</div>


{{ content }}
